img{
  width: 100px;
  div:hover {
    transition: width 2s, height 4s;
  }
}
@keyframes yonex {
  0% {background-color: #0b50a1;}
  25% {background-color: white;}
  50%{background-color: #1d9533;}
  75% {background-color: #0b50a1;}
  100% {background-color: white;}
}
div {
  animation: yonex 5s linear 2s infinite alternate;
}
ul{
  text-align: center;
  list-style-type: none;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  background-color: #0b50a1;
  border: solid;
}
li a:hover{
  background-color: #1d9533;
}
